{
    "_comment": "server: local, dev, pro, quality, staging",
    "local": {
        "port" : 8090,
        "db" : "mongodb://localhost:27017/angularcms"
    },
    "pro" : {
        "port" : 8090,
        "db" : "mongodb://angularcms:angularcms@ds039341.mongolab.com:39341/heroku_app34568631"

    },
    "server" : "pro"
}
